div(ng-include='"components/navbar/navbar.html"')

tabset(justified="true")

  div.whiteboard-tab(ng-include='"app/main/whiteboard-tab.html"')

  //- tab.tab-heading(heading="Whiteboard")
  //-   div.whiteboard-tab(ng-include='"app/main/whiteboard-tab.html"')

  //- tab.tab-heading(heading="Timeline")
  //-   div.timeline-tab(ng-include='"app/main/timeline-tab.html"')

