br
h4(style="text-align: center;") Feature not yet implemented
h5(style="text-align: center;")
  a(href="mailto:simon.johansson@screeninteraction.com") What did you expect to find here?
//- div.thumbnail(ng-repeat="file in data.imageArray")
  img(ng-src="{{file.path}}")
  //- span {{file.timeAgo}}
