div(ng-include='"components/navbar/navbar.html"')

.container.about
  .row
    .col-md-6.col-sm-10.col-centered
      br
      a.back-btn.btn.btn-default.btn-sm(href="/")
        span
          i.glyphicon.glyphicon-chevron-left
          | Back
      //- h1 About
      img.photo(src='assets/images/photo_1.jpg')
      img.photo(src='assets/images/photo_2.jpg')
      img.photo(src='assets/images/photo_3.jpg')
      img.photo(src='assets/images/photo_4.jpg')

