.info-overlay(ng-show="main.data.current.type === 'overlay'")
  h2.image-info {{main.data.current.heading}}
  h3 {{main.data.current.description}}
  h3
    b {{main.data.current.elapsedTime}} sec
  h3 Please wait
